.flat-select {
  position: absolute;
  transition: all 0.2s ease-out;
  display: none;
  background-color: #EFEFEF;
  border: 1px solid #e3e3e3;
  overflow-y: auto;
  overflow-x: hidden;
}
.flat-select.hidden {
  opacity: 0.5;
  transform: translateY(-6px);
}
.flat-select .flat-select-item {
  cursor: pointer;
  padding: 5px 8px;
}
.flat-select .flat-select-item + .flat-select-item {
  border-top: 1px solid #e3e3e3;
}
.flat-select .flat-select-item:hover {
  background-color: #333333;
  color: #fff;
}
.flat-select .flat-select-filter {
  background-color: #fff;
  height: 30px;
  line-height: 20px;
  padding: 5px 0;
  position: relative;
}
.flat-select .flat-select-filter > div{
  outline: none;
}
.flat-select .flat-select-close {
  position: absolute;
  right: 4px;
  top: 0px;
  bottom: 0px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transform: translateX(50px);
  transition: all 350ms ease-out;
}
.flat-select .flat-select-close.visible {
  transform: translateX(0px);
}
.flat-select-item.disabled {
  color: #9e9e9e;
}
.flat-select > div:first-child {
  position: relative;
}
.select-item > div:first-child {
  text-indent: 9px;
}
::-webkit-scrollbar {
    width: 4px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2); 
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #eee;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.6); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #eee;
}
